################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VogCodeChallenge.API/bin/Debug/netcoreapp3.1
/VogCodeChallenge.API/obj
/VogCodeChallenge.BLL/obj
/VogCodeChallenge.BLL/bin/Debug/netstandard2.0
